<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>78106265292-amg1aoo2g0jfqs4g13a645ov42u1idc3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78106265292-amg1aoo2g0jfqs4g13a645ov42u1idc3</string>
	<key>API_KEY</key>
	<string>AIzaSyDUXRss6-Hprjw4rLNDlOaHmYs4cwyOThE</string>
	<key>GCM_SENDER_ID</key>
	<string>78106265292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ejayzee.FobChat</string>
	<key>PROJECT_ID</key>
	<string>fobchat-3f777</string>
	<key>STORAGE_BUCKET</key>
	<string>fobchat-3f777.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:78106265292:ios:0b89c03a50e90366</string>
	<key>DATABASE_URL</key>
	<string>https://fobchat-3f777.firebaseio.com</string>
</dict>
</plist>